<!DOCTYPE html>
<html>
  <head>
    <title>SZS</title>
  </head>
  <body>
    <h1>System Zarządzania Słoikami</h1>
    <ul>
      <% items.forEach(item => { %>
      <li><%= item.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
